body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px bold;
}
h2 {
  font-size: 22px bold;
}
h3 {
  font-size: 20px;
}
.col-2 {
  text-align: center;
}

.pageWrapper {
  padding: 10px;
  margin: 30px auto 0px;
  max-width: 600px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(228, 226, 224);
}

.source {
  text-align: center;
  margin: 10px auto;
}

#search-but {
  text-align: left;
}
